@font-face {
  font-family: "Yekan";
  src: 
   url('../src/Fonts/Yekan.woff') format("woff");
  font-weight: 400;
 }

body {
  margin: 0;
  font-family:'Yekan';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


